<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Roll Dice</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<!--<h1 th:text="${guess}"></h1>-->

<h2>Guess what the dice result will be.</h2>
<div class="container">
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>
</div>

<p><span th:text="${yourGuess}"></span></p>
<p><span th:text="${dieRoll}"></span></p>
<p><span th:text="${msg}"></span></p>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html